
.battleship {
  display: flex;
  align-self: center; }
  .battleship .gridboard:nth-child(1) {
    margin-right: 16px; }
  .battleship .gridboard:last-child {
    margin-left: 16px; }

#FantasyContainer canvas {
  background-color: black;
  width: 300px;
  height: 150px; }

#BasketballContainer canvas {
  background-color: white;
  width: 150px;
  height: 300px; }

#OlympianContainer canvas {
  background-color: white;
  width: 300px;
  height: 150px; }

#PunchyKickyComponent canvas {
  background-color: black;
  width: 300px;
  height: 150px; }

#hangman {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #hangman button {
    padding: 0px 8px;
    margin-top: 16px; }
  #hangman #view #gallows {
    width: 100%;
    height: 100%; }
    #hangman #view #gallows #hook {
      border-left: 1px solid black;
      height: 8px;
      top: 8px;
      left: 16px;
      position: relative; }
    #hangman #view #gallows #top {
      position: relative;
      width: 16px;
      left: 0px;
      border-top: 1px solid black; }
    #hangman #view #gallows #post {
      border-left: 1px solid black;
      height: 64px;
      position: relative; }
    #hangman #view #gallows #bottom {
      border-bottom: 1px solid black;
      position: relative;
      width: 32px;
      right: 16px; }
  #hangman #view #body {
    height: 48px;
    top: -56px;
    left: 8px;
    position: relative; }
    #hangman #view #body * {
      display: none;
      height: 16px;
      width: 16px;
      position: relative; }
    #hangman #view #body :nth-child(1) {
      border: 1px solid black;
      border-radius: 16px; }
    #hangman #view #body :nth-child(2) {
      border-left: 1px solid black;
      right: -8px; }
    #hangman #view #body :nth-child(3) {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      border-left: 1px solid black;
      bottom: 12px;
      right: 0px; }
    #hangman #view #body :nth-child(4) {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      border-left: 1px solid black;
      bottom: 38px;
      right: -12px; }
    #hangman #view #body :nth-child(5) {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      border-left: 1px solid black;
      bottom: 30px;
      right: 0px; }
    #hangman #view #body :nth-child(6) {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      border-left: 1px solid black;
      bottom: 56px;
      right: -12px; }
  #hangman #guess-container {
    width: 64px;
    height: 64px;
    row-gap: 4px;
    display: grid;
    margin-bottom: 12px;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: space-around; }
  #hangman #word-container {
    display: flex;
    height: auto; }
    #hangman #word-container div {
      padding: 4px;
      min-width: 18px;
      min-height: 18px;
      border: 1px solid black;
      display: flex;
      place-content: center;
      align-items: center; }
      #hangman #word-container div:hover {
        color: white;
        background-color: black;
        cursor: pointer; }

#tictactoe .gridboard {
  display: grid;
  height: 128px;
  width: 128px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%; }
  #tictactoe .gridboard div {
    border: 1px solid black;
    display: flex;
    place-content: center;
    align-items: center; }
    #tictactoe .gridboard div:hover {
      color: white;
      background-color: black;
      cursor: pointer; }

body {
  background-color: #B6B7C7; }

* {
  margin: 0;
  padding: 0;
  font-family: Copperplate; }

#root {
  position: absolute;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column; }
  #root header {
    width: 100%;
    background-color: #FFFFFF;
    text-align: center; }
  #root p {
    text-align: justify;
    font-size: .88em; }
  #root #profileImage-container {
    width: 192px;
    height: 192px; }
  #root #content-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #root #content-container div img, #root #content-container p {
      padding: 8px 0px;
      width: 80%;
      min-width: 300px;
      text-align: center; }
  #root .navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: inherit;
    background: #FFFFFF;
    align-items: center; }
    #root .navbar a {
      text-decoration: none; }
      #root .navbar a p {
        text-align: justify;
        padding: 4px 8px;
        border: 1px solid #2D3155;
        border-radius: 24px; }
        #root .navbar a p:hover {
          background: #2D3155;
          color: #FFFFFF;
          border: 1px solid #FFFFFF; }
  #root #nav-container {
    position: absolute;
    left: 33%;
    width: 67%;
    height: 45px; }
  #root #toggleViewLink {
    position: fixed;
    bottom: 0;
    z-index: 10;
    align-self: center; }
  #root #profileLayout {
    align-items: center;
    background-color: #63678B;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 99%;
    position: absolute;
    width: 33%;
    min-width: 33%; }
    #root #profileLayout #intro-container {
      background-color: #FFFFFF;
      padding: 16px;
      border-radius: 24px; }
    #root #profileLayout #profileImage {
      border-radius: inherit;
      object-fit: contain;
      height: 192px;
      width: 192px; }
    #root #profileLayout #profileImageBubble {
      border-radius: 50%;
      height: 192px;
      width: 192px;
      background-color: #2D3155; }
    #root #profileLayout #profileImage-wrapper {
      border-radius: 50%;
      position: absolute; }
    #root #profileLayout #socialMediaTray-container {
      background-color: #FFFFFF;
      border-radius: 24px;
      height: 48px;
      padding: 8px 0px;
      width: 100%; }
      #root #profileLayout #socialMediaTray-container .socialMediaTray {
        justify-content: space-evenly; }

@media only screen and (max-width: 650px) {
  #root {
    align-items: center; }
    #root #profileLayout {
      min-width: 33%;
      width: 100%;
      height: 192px;
      align-items: normal;
      border-radius: 0;
      display: grid;
      flex-direction: row;
      gap: 0px;
      position: relative; }
      #root #profileLayout .socialMediaTray {
        justify-content: flex-start;
        gap: 32px; }
      #root #profileLayout header {
        text-align: justify; }
      #root #profileLayout #header-container {
        grid-column: 1/2;
        grid-row: 1;
        align-self: baseline;
        padding-bottom: 8px; }
        #root #profileLayout #header-container h2, #root #profileLayout #header-container h4 {
          padding-left: 200px; }
      #root #profileLayout #intro-container {
        display: none;
        background-color: initial;
        grid-column: 1;
        grid-row: 2; }
      #root #profileLayout #profileImage-container {
        grid-column: 1;
        grid-row: 1;
        z-index: 100; }
      #root #profileLayout #socialMediaTray-container {
        border-radius: 0px;
        position: absolute;
        top: 48px;
        grid-column: 1/2;
        grid-row: 1;
        width: 100%;
        min-height: 24px;
        height: 24px; }
        #root #profileLayout #socialMediaTray-container .socialMediaTray {
          justify-content: flex-start;
          gap: 32px;
          padding-left: 200px; }
    #root .navbar {
      height: 32px; }
      #root .navbar a:first-of-type {
        padding-left: 100px; }
    #root #toggleViewLink {
      align-self: flex-end; }
    #root #nav-container {
      position: initial;
      left: initial;
      width: 100%;
      height: 32px; } }

.tbt-flex-container {
  display: flex; }

.tbt-grid-container, .grid-container {
  display: grid;
  height: inherit;
  width: inherit; }

.tbt-grid-header, .grid-header {
  grid-area: header; }

.tbt-grid-footer, .grid-footer {
  grid-area: footer; }

.tbt-grid-main, .grid-main {
  grid-area: main; }

.tbt-grid-sidebar {
  grid-area: sidebar; }

.tbt-circle, .bust-circle, .circle {
  border-radius: 50%;
  height: auto;
  width: auto; }

.tbt-navbar {
  width: 100%; }

.bordered-list #list-header {
  font-size: 1.2em;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black; }

.bordered-list ul:first-of-type li {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }

.bordered-list ul:first-of-type li:last-child {
  border-bottom: 1px solid black; }

.scrolling-list #list-header {
  font-size: 1.2em; }

.scrolling-list ul:first-of-type {
  overflow-y: auto; }

.collapsible-list #list-header {
  font-size: 1.2em;
  cursor: pointer; }

.collapsible-list ul:first-of-type {
  overflow-y: hidden; }

.tooltip-list li {
  position: relative; }
  .tooltip-list li span {
    position: absolute;
    color: black;
    z-index: 5;
    border: 2px solid red;
    width: 100px;
    height: 100px;
    background-color: azure;
    top: 10px;
    right: 10px; }

.navbar {
  display: grid; }
  .navbar p {
    text-align: center;
    justify-content: center; }

* {
  margin: 0;
  padding: 0;
  font-family: Copperplate; }

p {
  text-align: justify;
  font-size: .88em; }

#about {
  padding: 8px 0px; }

#bust {
  width: 96px;
  height: 96px;
  background-color: #0A091B;
  border: 5px solid #2867b2;
  margin-bottom: 8px; }

#familyOlympics li {
  background-color: azure; }

#familyOlympics #details {
  display: grid; }
  #familyOlympics #details div:nth-of-type(2n+1) {
    font-weight: bold;
    grid-column: 1;
    border: 1px solid black; }
  #familyOlympics #details div:nth-of-type(2n) {
    background-color: azure;
    grid-column: 2;
    border: 1px solid black; }

.bold {
  font-weight: bold; }

.bust-circle {
  height: 100%; }

.grid-bust {
  align-content: center;
  display: inline-flex;
  grid-area: bust;
  align-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
  place-self: center;
  text-align: center; }

.detroit-skyline-bg {
  background-attachment: fixed;
  background-image: url(6bf3485351cf1b546b357e065c4bda04.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }

.light-blue-1 {
  background-color: #0A091B; }

.light-blue-0 {
  background-color: #100C45; }

.light-blue-2 {
  background-color: #100B6B; }

.grid-container {
  align-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 10% 70% 20%; }

.grid-header {
  align-items: center;
  color: white;
  display: flex;
  text-align: center; }

.grid-footer {
  align-items: center;
  color: white;
  display: flex;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  flex-direction: column; }

.grid-main {
  align-items: center;
  border-radius: 15px 0px 0px 0px;
  color: #0A091B;
  height: 100%;
  padding: 0px 64px;
  text-align: center; }

#mainNav > nav.navbar {
  grid-auto-flow: column; }
  #mainNav > nav.navbar a {
    background-color: #2867b2;
    border: 5px solid #0A091B;
    text-decoration: none;
    width: 64px;
    height: 64px;
    float: left; }
    #mainNav > nav.navbar a p {
      color: black;
      display: inline;
      position: relative;
      top: 33%; }
    #mainNav > nav.navbar a:hover {
      background-color: #0A091B;
      border: 5px solid #2867b2; }
      #mainNav > nav.navbar a:hover p {
        color: white; }

#gamesNav nav.navbar {
  grid-auto-columns: min-content; }
  #gamesNav nav.navbar a p {
    text-align: justify; }

#FantasyComponent {
  padding: 8px 0px; }

#resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #resumeContainer a {
    font-size: small; }
  #resumeContainer img {
    height: auto;
    padding: 8px 0px;
    width: 25%; }

.socialMediaTray {
  align-content: baseline;
  display: flex;
  height: inherit; }

